html
{
    background-color: burlywood;
}
h1{
    text-align: center;
}

.navbar
{
    text-align: center;
    background-color: blanchedalmond;
    margin: 0;
    padding: 0;

}

.navbar > ul
{
    display: inline-block;
    list-style-type: none;

}

.navbar > ul > li
{
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 25px;
}

.navbar > ul > li > a
{
    text-decoration: none;
    color: black;
}